API_KEY="sk-e0ae7879874c4667a1f6d91cbd30f900"
BASE_URL="https://api.openai.com/api/v1"
MODEL="gpt-4o"
NEXT_PUBLIC_TURNSTILE_SITE_KEY="0x4AAAAAAAj2j0ttB-yaF0an"
TURNSTILE_SECRET_KEY="0x4AAAAAAAj2j8VPqsiKCzdLhcCHX_Tz3Lc"